<div class="navcontainer">
  <img
    src="./../../assets/Image/download-removebg-preview.png"
    alt="404"
    class="image login"
    (click)="navigateTo('/')"
  />
  <div class="navelement">
    <div (click)="navigateTo('/')">Dashboard</div>
    <div (click)="navigateTo('/appointment')">Appointment</div>
    <div (click)="navigateTo('/toDolist')">Todo List</div>
    <div (click)="navigateTo('/aboutus')">About us</div>
  </div>

  <div (click)="navigateTo('/auth/login')" class="login">Login</div>
</div>
