<div class="loginForm">
  <div class="logincss">
    <h1 class="centertitle">Login</h1>
    <form (ngSubmit)="onSubmit()" class="gap">
      <div class="inputlable">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
      </div>
      <div class="inputlable">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <button type="submit" class="buttondesign" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</div>
