<div class="container">
  <div class="Description">
    <div class="col-xs-12 col-12 col-md-6 form-group">
      <input
        type="date"
        class="dateform-control"
        placeholder="Pick a date"
        (change)="onDateChange($event)"
      />
    </div>
    <img
      src="https://openweathermap.org/img/wn/{{ img }}@2x.png"
      alt="weather icon"
      *ngIf="humidity"
    />
    <table class="Descriptiongrid" *ngIf="humidity">
      <tr>
        <td>Humidity</td>
        <td>{{ humidity }}%</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>{{ pressure }} hPa</td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td>
          {{ (temp !== undefined ? temp - 273 : null) | number : "1.3-3" }}°C
        </td>
      </tr>
      <tr>
        <td>Wind Speed</td>
        <td>{{ wind_speed }} m/s</td>
      </tr>
    </table>
  </div>
  <div id="viewDivtwo" class="mapview"></div>
</div>
