.mapview {
  height: 97vh;
  width: 70vw;

  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.container {
  display: flex;
  flex-direction: row;
}
.Description {
  width: 30vw;
  height: 97vh;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}
.Descriptiongrid {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
