.productpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.upperpage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}
